<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Vue Playground</title>
  </head>
  <body>
    <div id="app">
      {{ message }}
      <p style="text-align: center"><button @click="demo">Click me</button></p>
    </div>
    <!-- ELemento contenedor para Vue -->
    <script src="./dist/build.js"></script>
  </body>
</html>